.slider {
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    height: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }